*{ /*modifie tout les paramètres de la page*/
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*créer des boxes sur le site*/
	text-decoration: none;
}

html{
	font-size: 62.5%;
}

h1{
	font-size: 3.2rem; /*taille du titre*/

}


.logo-Nastruire{
	float: left; /*permet a mettre le texte a coter de l'image*/
	max-width: 10rem; /*modifie la taille du logo*/
	max-height: 10rem; /*modifie la taille du logo*/
}

.main-head{
	background: black; /*couleur de fond noir pour le menu de navigation*/

}

#Nastruire{
	text-decoration: none;
	align-items: center;
	margin-left: 70px;
	flex: 1 1 40rem;
}

a{
	text-decoration: none; /*enleve toute les décorations*/
	color: white; /*couleur du texte*/
}


nav{
	min-height: 10vh;
	display: flex;
	align-items: center;
	margin: auto;

}

nav ul a:hover{ /*action quand la souris passe dessus*/
	color: #D6867F; /*change la couleur*/
	text-decoration: underline; /*surligne le texte*/
	
}

nav ul{ /*Menu de navigation*/
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around; /*laisse un espace entre les boutons*/
	align-items: center; /*aligne le texte*/
	list-style: none; /*enleve les points des listes*/
	font-size: 3rem; /*change la taille du texte*/
}

body{
	background: gray;
}

h2{
	text-align: center; 
	font-size: 3rem;
}

p{
	font-size: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

#video_ville{
	width: 45vh;
	height: 28vh;
	margin-left: 2rem;
}

#video_plage{
	width: 45vh;
	height: 28vh;
	margin-left: 22.5vh;
	
}

#menu{
	max-width:50vh;
	max-height: 50vh;
	margin-left: 22.5vh;
}
